
.navbar-default {
    background-color: #270726;
    opacity:.87;
    border-color: #4d4d4e;
    padding: 15px;
}
.navbar-default .navbar-nav>li>a{
    color: white;
    border: 0;
    -webkit-transition: color 0.37s; /* For Safari 3.1 to 6.0 */
    transition: color 0.37s;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #df6437;
    border: 1px solid;

}
.btn_register{
    border-radius: 0px;
    border: solid 1px !important;
    color: white;
}
.container-fluid{
    margin-left: 150px;
    margin-right: 150px;
}
.nav-logo{
    width: 150px;
    height: auto;
}
.navbar-nav>li{
    margin-right: 5px;
}
.navbar-right{
    margin-top: 10px;
}
